# Build outputs
.hvigor/
entry/build/
entry/.cache/
build/
*.hap
*.hsp
*.har
*.log

# IDE
.idea/
*.iml

# Dependencies / package cache
oh_modules/

# OS
.DS_Store
Thumbs.db

**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
**/IDL_Dependencies_List~
**/build-script-cache